<div class= 'post-container'>
<div class='post-detail'>
<div class='title'><h2>Post #<%= @post_number %> by <%= @user.name %></h2> <div class='counters'>Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></div></div>

<p><%= @post.text %></p>
</div>

<div class='comments'>
  <% @post.comments.each do |comment| %>
    <p><%= comment.author.name %>: <%= comment.text %></p>
    <% if @post.author == current_user %>
      <%= form_for([@user, @post, comment], method: :delete) do |f| %>
        <%= f.submit 'Delete' %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class='buttons-container'>
<%= form_with url: likes_user_post_path(@user, @post), method: :post do |form| %>
  <%= form.submit "Like", class: "form-button like-button" %>
<% end %>

<%= link_to "Comment", new_user_post_comment_path(@post.author, @post), class: "form-button" %>

<% if @post.author == current_user %>
  <%= form_with url: user_post_path(@user, @post), method: :delete do |form| %>
    <%= form.submit "Delete", class: "form-button" %>
  <% end %>
<% end %>
</div>
</div>





